.headercomponent{
    background-color: black;
    width: 100%;
    height: 80px;
}
.headercomponent h1{
    color:white;
    text-align: center;
}
.headercomponent .links{
    justify-content:center;
    gap: 40px;
}
.headercomponent .links a{    
    color: white;
    text-align:center;
    text-decoration: none;
}