.home-page .section-text-container{
    padding: 1rem;
}
.home-page .section-text-container h2{
    font-size: 4rem;
}
.home-page .section-text-container p{
    font-size: 1.6rem;
    text-align: justify;
}

.home-page .full-height{
    height: calc(100vh - 60px);
}
